
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedorPrincipal{
    display: grid;
    grid-template-columns: [x0]3fr [x1]1fr ;
    grid-template-rows: [y0]1fr [y1]4fr [y2]1fr ;
    height: 100vh;
    width: 100vw;
    /* 8 filas??? */
}

.header{
    display: grid;
    grid-column: x0 / x2;
    grid-row: y0 / y1;
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px;
}

.contenedorAzul{
    display: grid;
    grid-column: x0 / x1;
    grid-row: y1 / y2;
    color: white;
    background-color: blue;
    grid-template-columns: [x0]2fr [x1]1fr ;
    grid-template-rows: [y0]1fr [y1]2fr ;
    padding: 5px;
    gap: 10px;
}

.contenido{
    display: grid;
    grid-column: x0/x2;
    grid-row: y0/y1;
    color: white;
    background-color: blue;
    border: white 2px solid;
}

.texto1{
    display: grid;
    grid-column: x0/x1;
    grid-row: y1/y2;
    color: white;
    background-color: blue;
    border: white 1px solid;
    /* padding: 5px; */
}
.texto2{
    display: grid;
    grid-column: x1/x2;
    grid-row: y1/y2;
    color: white;
    background-color: blue;
    border: white 1px solid;
}


/* porque no me aparece el contenedor azul???? */

.contenedorVerde{
    display: grid;
    grid-column: x1 / x2;
    grid-row: y1 / y2;
    color: white;
    background-color: rgb(50, 248, 182);
    grid-template-columns: [x0]1fr;
    grid-template-rows: [y0]1fr [y1]1fr [y2]1fr [y3]1fr ;

}

.menu{
    display: flex;
    grid-column: x0 / x1;
    grid-row: y0 / y1;
    color: white;
    background-color: rgb(50, 248, 182);
    border: 1px black solid;
    text-align: center;
}

.menu1{
    display: grid;
    grid-column: x0 / x1;
    grid-row: y1 / y2;
    color: white;
    background-color: black;
    border: 1px rgb(50, 248, 182) solid;
    text-align: center;
}

.menu2{
    display: grid;
    grid-column: x0 / x1;
    grid-row: y2 / y3;
    color: white;
    background-color: black;
    border: 1px rgb(50, 248, 182) solid;
    text-align: center;
}

.menu3{
    display: grid;
    grid-column: x0 / x1;
    grid-row: y3 / y4;
    color: white;
    background-color: black;
    border: 1px rgb(50, 248, 182) solid;
    text-align: center;
}

.contenedorMorado{
    display: grid;
    grid-column: x0 / x2;
    grid-row: y2 / y3;
    color: white;
    background-color: blueviolet;
    grid-template-columns: [x0]1fr [x1]1fr;
    grid-template-rows: [y0]1fr;
}

.footer{
    display: grid;
    grid-column: x0 / x1;
    grid-row: y0 / y1;
    background-color: blueviolet;
    color: white;
    border: 1px black solid;
}

.contacto{
    display: grid;
    grid-column: x1 / x2;
    grid-row: y0 / y1;
    background-color: blueviolet;
    color: white;
    border: 1px black solid;
}

/* .menus{
    background-color: black;
    color: white;
    margin: 5px;
    text-align: center;
    padding-top: 15px;
}

/* como centrar el texto sin usar align items y justify content??? */
/* tanto en menu y menus lo he hecho a ojo! */
/* sino coinciden con las lineas nombradas lo tengo que hacer a ojo?? */

/* .menu{
    background-color: rgb(50, 248, 182);
    border: 2px solid black;
    margin: 5px;
    text-align: center;
    padding-top: 15px;
}

.footer{
    grid-column: x0 / x2;
    grid-row: y7 / y8;
    color: white;
    background-color: blueviolet;
    margin: 5px;
}

.contacto{
    grid-column: x2 / x4;
    grid-row: y7 / y8;
    color: white;
    background-color: blueviolet;
    margin: 5px;
} */

/* porque no me hacen caso ni el footer ni contacto???? */
 /*  */
