
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedorGrid{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 2fr 1fr 2fr;
    grid-template-rows: 3fr 1fr;
        /* border: 2px solid red; */
        height: 100vh;
        width: 100vw;

}

/* los ddivs van de izquierda a derecha y de arriva a abaajo??? */

.a{
    background-color: rgb(108, 247, 28);
    color: white;
    text-align: center;
    font-size: x-large;
    /* height: 300px; */
}

.b{
    background-color: rgb(2, 2, 2);
    color: white;
    text-align: center;
    font-size: x-large;
    /* height: 300px; */
}


.c{
    background-color: rgb(108, 247, 28);
    color: white;
    text-align: center;
    font-size: x-large;
    /* height: 300px; */
}

.d{
    background-color: rgb(2, 2, 2);
    color: white;
    text-align: center;
    font-size: x-large;
    /* height: 100px; */
}


.e{
    background-color: rgb(108, 247, 28);
    color: white;
    text-align: center;
    font-size: x-large;
    /* height: 100px;*/
} 

.f{
    background-color: rgb(2, 2, 2);
    color: white;
    text-align: center;
    font-size: x-large;
    /* height: 100px; */
}