
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedorPrincipal{
    display: grid;
    grid-template-columns: [x0]3fr [x1]1fr ;
    grid-template-rows: [y0]1fr [y1]4fr [y2]1fr ;
    height: 100vh;
    width: 100vw;
    
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: x0 / x2;
    grid-row: y0 / y1;
    color: white;
    background-color: black;
}

.contenedorAzul{
    display: grid;
    grid-column: x0 / x1;
    grid-row: y1 / y2;
    color: white;
    background-color: blue;
    grid-template-columns: [x0]2fr [x1]1fr ;
    grid-template-rows: [y0]1fr [y1]2fr ;
    padding: 5px;
    gap: 10px;
}

.contenido{
    grid-column: x0/x2;
    grid-row: y0/y1;
    color: white;
    background-color: blue;
    border: white 2px solid;
    padding: 5px;
}

.texto1{   
    grid-column: x0/x1;
    grid-row: y1/y2;
    color: white;
    background-color: blue;
    border: white 1px solid;
    padding: 5px;
}
.texto2{

    grid-column: x1/x2;
    grid-row: y1/y2;
    color: white;
    background-color: blue;
    border: white 1px solid;
    padding: 5px;
}

.contenedorVerde{
    display: grid;
    grid-column: x1 / x2;
    grid-row: y1 / y2;
    color: white;
    background-color: rgb(50, 248, 182);
    grid-template-columns: [x0]1fr;
    grid-template-rows: [y0]1fr [y1]1fr [y2]1fr [y3]1fr ;
    padding: 10px;
    gap: 5px;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: x0 / x1;
    grid-row: y0 / y1;
    color: white;
    background-color: rgb(50, 248, 182);
    border: 1px black solid;
    
}

.menu1{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: x0 / x1;
    grid-row: y1 / y2;
    color: white;
    background-color: black;
    border: 1px rgb(50, 248, 182) solid;
    
}

.menu2{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: x0 / x1;
    grid-row: y2 / y3;
    color: white;
    background-color: black;
    border: 1px rgb(50, 248, 182) solid;
}

.menu3{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: x0 / x1;
    grid-row: y3 / y4;
    color: white;
    background-color: black;
    border: 1px rgb(50, 248, 182) solid;
}  

.contenedorMorado{
    display: grid;
    grid-column: x0 / x2;
    grid-row: y2 / y3;
    color: white;
    background-color: blueviolet;
    grid-template-columns: [x0]1fr [x1]1fr;
    grid-template-rows: [y0]1fr;
    padding: 10px;
    gap: 5px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: x0 / x1;
    grid-row: y0 / y1;
    background-color: blueviolet;
    color: white;
    border: 1px black solid;
}

.contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: x1 / x2;
    grid-row: y0 / y1;
    background-color: blueviolet;
    color: white;
    border: 1px black solid;
}

/* en cada clase o se pone display flex o displey grid, los dos no puede ser.*/
/* solo se pone el display grid en aquellas clases que se establezacan las filas y las columnas con grid template, en el resto no. */
