
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor_general{
    /* border: 2px red solid; */
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.contenedores{
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    height: 75vh;
    width: 100vw;
}

.footer{
    /* border: 2px solid red; */
    height: 25vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    gap: 3%;
}

.contenedor_izquierdo{
    /* border: 2px solid red; */
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 0.75%;
}

.contenedor_imagen{
    /* border: 2px solid red; */
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: end;
}

.imagen{
    height: 100%;
    width: 30%;
}


.contenedor_derecho{
    /* border: 2px solid red; */
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 0.75%;
}

.contenedor_principal{
    /* border: 2px solid red; */
    height: 90%;
    width: 35%;
    display: flex;
    flex-direction: column;
}

.contenedor_superior{
    border: 2px solid gray;
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.instagram{
    /* border: 2px solid red; */
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icono_instagram{
    height: 40%;
    width: 60%;
}

.formulario{
    /* border: 2px solid red; */
    height: 40%;
    width: 100%;
}

.usuario{
    margin-top: 2.5%;
    margin-left: 15%;
    margin-right: 15%;
    height: 25%;
    width: 70%;
}

.contraseña{
    margin-top: 2.5%;
    margin-left: 15%;
    margin-right: 15%;
    height: 25%;
    width: 70%;
}

.boton{
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    height: 25%;
    width: 70%;
    margin-bottom: 10%;
    background-color: rgb(205, 229, 252);
}


.linea{
    margin-top: 5%;
}

.facebook{
    /* border: 2px solid red; */
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 3%;
}

.contraseña_olvidada{
    /* border: 2px solid red; */
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
}

.parrafo{
    padding-top: 4%;
}

.registrate{
    border: 2px solid gray;
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3%;
    margin-top: 5%;
}

.enlace_registrar{
    text-decoration: none;
    color: rgb(67, 164, 255);
}

.descarga{
    /* border: 2px solid gray; */
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconos{
    /* border: 2px solid gray; */
    height: 10%; 
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3%;
}

.icono1{
    width: 45%;
    height: 80%;
}

.icono2{
    width: 45%;
    height: 80%;
    
}

.footer1{
    /* border: 2px solid gray; */
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: smaller;
    gap: 1%;
    text-decoration: none;
}

.footer2{
    /* border: 2px solid gray; */
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: smaller;
    gap: 1%;
    text-decoration: none;
}

.footer3{
    /* border: 2px solid gray; */
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: smaller;
    gap: 1%;
    text-decoration: none;
    margin-top: 1.5%;
}

.enla1{
    color: gray;
    text-decoration: none;
}
.enla2{
    color: gray;
    text-decoration: none;
}
.enla3{
    color: gray;
    text-decoration: none;
}
.enla4{
    color: gray;
    text-decoration: none;
}
.enla5{
    color: gray;
    text-decoration: none;
}
.enla6{
    color: gray;
    text-decoration: none;
}
.enla7{
    color: gray;
    text-decoration: none;
}
.enla8{
    color: gray;
    text-decoration: none;
}
.enla9{
    color: gray;
    text-decoration: none;
}
.enla10{
    color: gray;
    text-decoration: none;
}
.enla11{
    color: gray;
    text-decoration: none;
}
.enla12{
    color: gray;
    text-decoration: none;
}
.enla13{
    color: gray;
    text-decoration: none;
}
.enla14{
    color: gray;
    text-decoration: none;
}
.enla15{
    color: gray;
    text-decoration: none;
}
.enla16{
    color: gray;
    text-decoration: none;
}
.enla17{
    color: gray;
    text-decoration: none;
}
.enla18{
    color: gray;
    text-decoration: none;
}
.enla19{
    color: gray;
    text-decoration: none;
}
.enla20{
    color: gray;
    text-decoration: none;
}

@media screen and (max-width:1184px){

    .contenedor_imagen{
        display: none;
    }


}

/* 1-como hacer para que todo el bloque del formulario no pierda tamaño cuando reduzco la pantalla??? 
Recuerda que todo esta a tanto por cien de la pantalla y que por esos se reduce su tamaño. */
/* 2-los enlaces de bajo del todo estan en un div. como hacer que algunos enlaces bajan a la linea siguiente cuando reduzco la pantalla??? */
/* 3-habria alguna forma de centrar el formulario en el centro de la pantalla aunque tenga dos 
contenedores dividiendo la pantalla, y la imagen estando en el de la derecha???? */


