
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.encabezado{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    width: 100%;
    padding-left: 40%;
    padding-right: 100px;
    background-color: rgb(100, 156, 62);
}

.titulo{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}

.menu{
    display: flex;
    gap: 50px;
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contenedor_principal{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 2%;   
}

.contenedor_img{
    margin-top: 3%;
    width: 22%;
    height: 300px;
}

body{
    background-color: beige;
}





