*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.contenedor__Principal{
    border: 2px solid red;
}
.header{
    border: 5px solid rgb(1, 161, 108);
    display: flex;
    height: 80px;
    width: 100vw;
    margin: 2px;
    padding: 4px;    
}

.div{
    border: 5px solid rgb(212, 170, 79);
    display: flex;
    height: 40px;
    width: 100vw;
    margin: 2px;
    padding: 4px; 
}

.padre{
    display: flex;
    flex-direction: row;
}
.section{
    border: 5px solid rgb(61, 139, 202);
    display: flex;
    height: 600px;
    width: 70vw;
    margin: 2px;
    padding: 4px; 
    flex-direction: column;
    justify-content: space-between;
}

.seccion__1{
    border: 2px solid red;
}

.seccion__2{
    border: 2px solid red;
}

.div2{
    border: 2px solid red;
    height: 600px;
    width: 30vw;
}


/* //lo que se pone en el padre unicamenta afecta los hijo en flex o en todo? como por ejemplo margin. */
/* with con vw??
porque los margenes no me coinciden? */
/* 30vw=30% en base auna pantalla */

.article1{
    border: 5px solid rgb(1, 161, 108);
    display: flex;
    height: 45px;
    width: 68vw;
    padding: 4px; 
}